
  a {
    text-decoration: none;
  }

      body {
        background-color: #326244;
      }

  /* Animation */
  @keyframes logo-rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* ClassName Selectors */

  .home-container {
    background-image: url("../imgfiles/bg-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .jeep {
    position: absolute;

    width: 35%;
    bottom: 16%;
    left: 34%;
  }

  .logo {
    cursor: pointer;
    display:block;
    margin: 10% 50% 0 38%;
    width: 25%;
  }

  .logo:hover {
    animation: logo-rotate 4s linear 0s 1 normal;
  }

  .play-link {
    color: white;
    cursor: pointer;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 32px;
    text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.374);

    position: absolute;
    bottom: 5%;
    left: 42%;
  }

  .play-link:hover {
    color: #F7C700;
    cursor: pointer;
    font-size: 35px;
    left: 42%;
  }

  .play-link:active {
    color: white;
    cursor: pointer;
  }

  .star-one {
    position: absolute;
    width: 5%;

    bottom: 60%;
    left: 70%;
  }

  .star-two {
    position: absolute;
    width: 5%;

    bottom: 10%;
    left: 25%;
  }
