


#content_question {
    margin-top: 2%;
    margin-left: 30%;
    padding-top: 7.5%;
    
    width:40%;
}

#level-num{
   font-size: 70px;
   margin-top: 3px;
}

#logo_game{
    width: 15%;
}

#sun-img {
    position: absolute;
    width: 50%;

    right: 70%;
    bottom: 58%;
}

/* CLASSES */
.btn-modal {
    background-image: url("../imgfiles/btn_question.png");
    background-size: 100% 100%;
    background-color:transparent;
    border-radius: 0;
    border: 0.04rem solid transparent;
    width: 220px;
    height: 55px;
    align: center;
}
.btn-question {
    background-image: url("../imgfiles/btn_question.png");
    background-size: 100% 100%;
    background-color:transparent;
    border-radius: 0;
    border: 0.04rem solid transparent;
    width: 220px;
    height: 55px;
}

.question-bg {
    padding-top: 5%;
    position: absolute;
    width: 60%;
    z-index: -1;
    
    top: 20%;
    right: 20%;
}

.star-three {
    position: absolute;
    width: 6%;

    left: 83%;
    bottom: 60%;
}

.star-four {
    position: absolute;
    width: 8%;

    right: 83%;
    top: 90%;
}

.text_qst{
    color: brown;
  }

 