/*#content_bg {
    background-image: url("../imgfiles/questionBG.png");
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    width:700px;
    height: 525px;
    position: fixed;
    top: 40%;
    left: 33%;
    margin-top: -100px;
    margin-left: -100px;
}*/

/* ID */
#btn_top{
    margin-top: 2%;
}

#content_question {
    margin-top: 5%;
    margin-left: 25%;
    padding-top: 7.5%;
    
    width:50%;
}

#level-num{
   font-size: 70px;
   margin-top: 3px;
}

#logo_game{
    width: 15%;
}

#sun-img {
    position: absolute;
    width: 50%;

    right: 70%;
    bottom: 58%;
}

/* CLASSES */

.btn-question {
    background-image: url("../imgfiles/btn_question.png");
    background-size: 100% 100%;
    background-color:transparent;
    border-radius: 0;
    border: 0.04rem solid transparent;
    width: 220px;
    height: 55px;
}

.question-bg {
    padding-top: 5%;
    position: absolute;
    width: 60%;
    z-index: -1;
    
    top: 20%;
    right: 20%;
}

.star-three {
    position: absolute;
    width: 6%;

    left: 83%;
    bottom: 60%;
}

.star-four {
    position: absolute;
    width: 8%;

    right: 83%;
    top: 90%;
}

.text_qst{
    color: brown;
  }
