 body{
    background-image: url("../imgfiles/levelBG.png");
    background-repeat: no-repeat;  
    background-size: 100%;
}

#logo_game{
    width: 15%;
}

/*#content_bg {
    background-image: url("../imgfiles/questionBG.png");
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    width:700px;
    height: 525px;
    position: fixed;
    top: 40%;
    left: 33%;
    margin-top: -100px;
    margin-left: -100px;
}*/

#content_question {
    margin-top: 5%;
    margin-left: 25%;
    padding-top: 7.5%;
    
    width:50%;
}

.question-bg {
    padding-top: 5%;
    position: absolute;
    width: 60%;
    z-index: -1;

    top: 20%;
    right: 20%;
}

.text_qst{
  /* //  width: 450px; */
  color: brown;
}

.btn-question {
    background-image: url("../imgfiles/btn_question.png");
    background-size: 100% 100%;
    background-color:transparent;
    border-radius: 0;
    border: 0.04rem solid transparent;
    width: 220px;
    height: 55px;
}
#btn_top{
    margin-top: 2%;
}

#level-num{
   font-size: 70px;
   margin-top: 3px;
}


