/* CLASS SELECTORS */

  .road-img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  /* CONTAINERS */

  .headerContainer {
    margin: 2% 0 0;
  }

  .levelsContainer {
    padding-top: 9%;
  }

  .startContainer {
    background-image: url("../imgfiles/start-bg.png");
    background-repeat: no-repeat;
    background-position: 4%;
    background-size: 100%;
  }

  /* ROUNDS IMAGES */

  .disabled-link {
    filter: grayscale(90%);
    cursor:not-allowed;
  }

  .round-one {
    position:absolute;
    width: 10%;

    bottom: 63%;
    left: 38%;
  }

  .round-one:hover {
    cursor: pointer;
    width: 15%;
    
    bottom: 58%;
    left: 35%;
  }

  .round-two {
    position: absolute;
    width: 6%;
    
    left: 32%;
    top: 50%;
  }

  .round-two:hover {
    cursor: pointer;
    width: 8%;

    left: 31%;
    top: 48%
  }

  .round-three {
    position: absolute;
    width: 10%;

    top: 67%;
    left: 41.5%;
  }

  .round-three:hover {
    cursor: pointer;
    width: 12%;

    top: 64%;
    left: 40.7%;
  }

  .round-four {
    position: absolute;
    width: 13%;

    top: 56%;
    left: 58%;
  }

  .round-four:hover {
    cursor: pointer;
    width: 15%;

    top: 54%;
    left: 56.5%;
  }

  .round-five {
    position: absolute;
    width: 8%;

    bottom: 63%;
    left: 62.5%;
  }

  .round-five:hover {
    cursor: pointer;
    width: 12%;
    
    bottom: 61%;
    left: 60.4%;
  }

  .side-logo {
    left: 5%;
    position: absolute;
    width: 30%;
  }

  /* BACK TO START */
  
  .back-link {
    color: white;
    cursor: pointer;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 35px;
    text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.374);

    top: 4%;
 
  }

  .back-link:hover {
    color: #F7C700;
    cursor: pointer;
    font-size: 40px;
  }

  .back-link:active {
    color: white;
    cursor: pointer;
  }

/* Game Mechanics */

h2, p, ol {
  font-family: 'Chau Philomene One', sans-serif;
}

h2 {
  color: #F7C700;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.714);
}

ol, p {
  color: white;
}

#image-qst {
  width: auto;
  height: 40px;
}